:root {
    --black-color: #000;
    --white-color: #fff;
    --primary-color: #FB641B;
    --secondary-color: #1976d2;
    --text-color: #2874f0;
    --grey-color: #878787;
    --nav-links-color: #504e4e;
    --secondary-hover-color: #1565c0;
    --primary-hover-color: #eb5e1b;
    --footer-color: #ECF9FE;
    --footer-dark-color: #DBF4FD;
    --scrollbar-color: #c2bdbd;
    --scrollbar-hover-color: #a9a0a0;
    --searchbar-border-color: #E2E8F0;
    --searchbar-focused-border-color: #abaaaa;
    --svg-icon-color: #302d2d;
    --green-color: #198754;
    --green-hover-color: #157347;
    --red-color: #dc3545;
    --red-hover-color: #bb2d3b;
    --light-blue-color: rgba(25, 118, 210, 0.04);
    --dropdown-default-option-color: #757575;
}

@font-face {
    font-family: 'poppins-bold';
    src: url('../fonts/Poppins/Poppins-Bold.ttf');
}


@font-face {
    font-family: 'poppins-regular';
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'poppins-medium';
    src: url('../fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'poppins-semiBold';
    src: url('../fonts/Poppins/Poppins-SemiBold.ttf');
}

body h1 {
    font-family: 'poppins-bold';
    font-size: 45px;
    color: var(--black-color);
}

body h2 {
    font-family: 'poppins-bold';
    font-size: 40px;
    color: var(--black-color);
}

body h3 {
    font-family: 'poppins-bold';
    font-size: 35px;
    color: var(--black-color);
}

body h4 {
    font-family: 'poppins-bold';
    font-size: 25px;
    color: var(--black-color);
}

body h5 {
    font-family: 'poppins-bold';
    font-size: 22px;
    color: var(--black-color);
}

body h6 {
    font-family: 'poppins-bold';
    font-size: 20px;
    color: var(--black-color);
}

body input {
    font-family: 'poppins-regular';
    font-size: 17px;
    color: var(--black-color);
}

body textarea {
    font-family: 'poppins-regular';
    font-size: 17px;
    color: var(--black-color);
}

body select {
    font-family: 'poppins-regular';
    font-size: 16.5px;
    color: var(--black-color);
}

body button {
    font-family: 'poppins-regular';
    font-size: 16px;
    color: var(--white-color);
}

body a {
    font-family: 'poppins-medium';
    font-size: 16px;
    color: var(--nav-links-color);
}

body a:hover {
    color: var(--black-color);
}

body p {
    font-family: 'poppins-regular';
    font-size: 16px;
    color: var(--black-color);
}

body footer {
    font-family: 'poppins-semiBold';
    font-size: 22px;
    color: var(--black-color);
}

body svg {
    font-size: 22.5px;
    color: var(--svg-icon-color);
    cursor: pointer;
}

body svg:hover {
    color: var(--black-color);
}

.modal-body {
    padding: 24px 16px !important;
    font-family: 'poppins-regular';
}

.css-10hburv-MuiTypography-root {
    font-family: 'poppins-regular' !important;
    font-size: 15.5px !important;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-hover-color);
}


/* media queries */
@media screen and (min-width: 992px) {
    .modal-dialog {
        max-width: 600px !important;
    }
}

@media screen and (max-width: 768px) {

    body input,
    body textarea {
        font-size: 16px;
    }

    body select {
        font-size: 16.2px;
    }
}