:root {
    --black-color: #000;
    --white-color: #fff;
    --primary-color: #FB641B;
    --secondary-color: #1976d2;
    --text-color: #2874f0;
    --grey-color: #878787;
    --secondary-hover-color: #1565c0;
}

@font-face {
    font-family: 'poppins-bold';
    src: url('../fonts/Poppins/Poppins-Bold.ttf');
}


@font-face {
    font-family: 'poppins-regular';
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'poppins-medium';
    src: url('../fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'poppins-semiBold';
    src: url('../fonts/Poppins/Poppins-SemiBold.ttf');
}

body h1 {
    font-family: 'poppins-bold';
    font-size: 45px;
    color: var(--black-color);
}

body h2 {
    font-family: 'poppins-bold';
    font-size: 40px;
    color: var(--black-color);
}

body h3 {
    font-family: 'poppins-bold';
    font-size: 35px;
    color: var(--black-color);
}

body h4 {
    font-family: 'poppins-bold';
    font-size: 25px;
    color: var(--black-color);
}

body h5 {
    font-family: 'poppins-bold';
    font-size: 22px;
    color: var(--black-color);
}

body h6 {
    font-family: 'poppins-bold';
    font-size: 18px;
    color: var(--black-color);
}

body input {
    font-family: 'poppins-regular';
    font-size: 17px;
    color: var(--black-color);
}

body textarea {
    font-family: 'poppins-regular';
    font-size: 17px;
    color: var(--black-color);
}

body button {
    font-family: 'poppins-regular';
    font-size: 16px;
    color: var(--white-color);
}

body a {
    font-family: 'poppins-medium';
    font-size: 16px;
    color: var(--black-color);
}

body p {
    font-family: 'poppins-regular';
    font-size: 16px;
    color: var(--black-color);
}

body footer {
    font-family: 'poppins-semiBold';
    font-size: 22px;
    color: var(--black-color);
}