.drawerContainer {
    text-align: center;
}

.drawerList {
    width: 280px;
}

.drawerListItem {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

.activeLink {
    background-color: rgb(0 0 0 / 10%) !important;
}

.drawerHeading {
    margin: 25px 0px 8px;
}

.horizontalRuleOfDrawer {
    color: #999494;
}


/* media queries */
@media screen and (max-width: 576px) {
    .drawerList {
        width: 260px;
    }
}