.inputComponentContainer {
    width: 100%;
    margin: 12px 0px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 14px;
}

.inputContainerCustomStyle {
    border-bottom: 1px solid #757171;
}

.inputContainerCustomStyle:hover {
    border-bottom: 2px solid var(--black-color);
}

.inputComponent {
    outline: none;
    width: 100%;
    border: none;
    padding: 8px 0px;
}

.eyeIconOfInput {
    position: relative;
    right: 5px;
}