.noBtnOfLogoutModal {
    width: 60px;
    background-color: #b4bbc2;
}

.noBtnOfLogoutModal:hover {
    background-color: #999fa5;
    border-color: #999fa5;
}

.yesBtnOfLogoutModal {
    width: 75px;
}