.loginPageMainContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginBoxContainer {
    width: 400px;
    margin: auto;
    box-shadow: 5px 2px 5px 2px rgb(0 0 0/ 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 35px 62px;
}

.loginBoxContainer>img {
    width: 100px;
    margin-bottom: 35px;
}

.loginBoxContainer>hr {
    width: 100%;
    margin: 20px 0px;
}

.loginBtn {
    background-color: var(--primary-color) !important;
    width: 330px !important;
    margin-top: 14px;
    border: none;
    outline: none;
}

.loginBtn:hover {
    background-color: var(--primary-hover-color) !important;
}

.orKeywordStyling {
    margin: 20px 0px;
    text-align: center;
    font-size: 13px;
    color: var(--grey-color);
}

.createAnAccountLink {
    color: var(--secondary-color);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    font-size: 15px;
}

.createAnAccountLink:hover {
    color: var(--secondary-color);
    background-color: rgba(25, 118, 210, 0.04);
}

.goToHomeLink {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    width: 100%;
    padding: 10px 0px;
    border-radius: 3px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.goToHomeLink>svg {
    color: var(--white-color);
}

.goToHomeLink:hover {
    color: var(--white-color);
    background-color: var(--secondary-hover-color);
}