.btnContainerDiv {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.buttonDefaultStyling {
    color: var(--white-color);
    background-color: var(--secondary-color);
    border-radius: 3px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    padding: 8px 0px;
}

.buttonDefaultStyling:hover {
    background-color: var(--secondary-hover-color);
}

.loaderForButton {
    width: auto;
    height: auto;
}