.modalBodyContentForEditBlog {
    width: 100%;
    padding-inline: 10px;
}

.uploadImgContainerOfEditBlogModal {
    display: flex;
    justify-content: center;
    margin: 30px 0px 45px;
}

.uploadImgContainerOfEditBlogModal>div {
    width: 250px;
    height: 250px;
}

.uploadImgClass {
    width: 100% !important;
    height: 100% !important;
}

.cancelBtnOfEditBlogModal {
    width: 90px;
    background-color: #b4bbc2;
}

.cancelBtnOfEditBlogModal:hover {
    background-color: #999fa5;
    border-color: #999fa5;
}

.submitBtnOfEditBlogModal {
    width: 90px;
}