.rowOfUserProfileSection {
    width: 50% !important;
    margin: 130px auto !important;
}

.rowOfUserProfileSection>div {
    display: flex;
    justify-content: center;
}

.containerOfUserProfileImg {
    margin-bottom: 30px;
}

.uploadImgComponentForUserProfile {
    width: 250px;
    height: 250px;
}

.uploadImgComponentForUserProfile>span {
    font-size: 17px;
}

.uploadImgComponentForUserProfile>span svg {
    font-size: 22px;
}

.containerOfUpdateAndDeleteProfile {
    margin-top: 34px;
    align-items: center;
    gap: 20px;
}

.updateUserProfileBtn {
    display: flex;
    justify-content: center;
    gap: 5px;
    color: var(--white-color) !important;
    background-color: var(--green-color) !important;
    padding: 8px 16px;
}

.updateUserProfileBtn svg {
    color: var(--white-color) !important;
}

.updateUserProfileBtn:hover {
    outline: none !important;
    border-color: var(--green-hover-color) !important;
    background-color: var(--green-hover-color) !important;
}

.disabledUpdateBtn {
    pointer-events: none;
    background-color: #8baf9f !important;
}

.deleteUserProfileBtn {
    display: flex;
    justify-content: center;
    gap: 5px;
    color: var(--white-color) !important;
    background-color: var(--red-color) !important;
    padding: 8px 16px;
}

.deleteUserProfileBtn svg {
    color: var(--white-color) !important;
}

.deleteUserProfileBtn:hover {
    border-color: var(--red-hover-color) !important;
    background-color: var(--red-hover-color) !important;
}


/* media queries */
@media screen and (max-width: 1200px) {
    .rowOfUserProfileSection {
        width: 60% !important;
    }
}

@media screen and (max-width: 992px) {
    .rowOfUserProfileSection {
        width: 80% !important;
    }
}

@media screen and (max-width: 768px) {
    .rowOfUserProfileSection {
        width: 95% !important;
        margin: 110px auto 95px !important;
    }

    .updateUserProfileBtn svg,
    .deleteUserProfileBtn svg {
        font-size: 20px;
    }

    .updateUserProfileBtn span,
    .deleteUserProfileBtn span {
        font-size: 15px;
    }
}

@media screen and (max-width: 576px) {

    .updateUserProfileBtn,
    .deleteUserProfileBtn {
        padding: 8px 12px;
    }

    .updateUserProfileBtn svg,
    .deleteUserProfileBtn svg {
        font-size: 20px;
    }

    .updateUserProfileBtn span,
    .deleteUserProfileBtn span {
        font-size: 14.5px;
    }
}