.blogsCategoryContainer {
    margin: 50px auto 75px;
}

.categoriesMainContainer {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ccc;
    margin-top: 22px;
}

.createBlogButtonOfHome {
    width: 100%;
    height: 42px;
}

.eachCategoryContainer {
    border-bottom: 1px solid #ccc;
    line-height: 1.43;
    text-align: left;
    padding: 15px;
}

.eachCategoryContainer a {
    font-size: 15.5px;
}