.homeMainContainer {
    margin: 50px auto 100px;
}

.categoriesMainContainer {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ccc;
    margin-top: 22px;
}

.createBlogLinkOfHome {
    display: flex;
    justify-content: center;
    font-family: 'poppins-regular';
    color: var(--white-color);
    background-color: var(--secondary-color);
    border-radius: 4px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    padding: 8px 0px;
    width: 100%;
    height: 42px;
}

.createBlogLinkOfHome:hover {
    color: var(--white-color);
    background-color: var(--secondary-hover-color);
}

.eachCategoryContainer {
    border-bottom: 1px solid #ccc;
    line-height: 1.43;
    text-align: left;
    padding: 15px;
}

.eachCategoryContainer a {
    font-size: 15.5px;
}

.blogCardContainerOfHome {
    margin-bottom: 20px;
}

.noBlogsFoundElement {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* media queries */
@media screen and (max-width: 768px) {
    .rowOfHomeContent {
        gap: 40px;
    }
}