.singleBlogContainer {
    margin: 2px auto 100px;
}

.blogImageContainer {
    width: 100%;
    height: 450px;
    outline: transparent solid 2px;
    outline-offset: 2px;
    border: 1px solid var(--searchbar-border-color);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 7px;
}

.blogImageContainer>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blogContentMainContainer {
    margin-top: 38px;
}

.containerOfBlogTitleAndBtns {
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
}

.blogTitle {
    text-align: center;
    letter-spacing: 0.5px;
}

.blogTitle>p {
    color: #818589;
    font-size: 17px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.editAndDeleteBtnContainer {
    position: absolute;
    right: 0px;
    display: flex;
    gap: 16px;
}

.editAndDeleteBtnDropdown {
    display: none;
}

.clickableDropdownOfSingleBlog {
    background-color: transparent !important;
    outline: none !important;
    border: none !important;
    color: var(--black-color) !important;
    padding: 0px !important;
}

.clickableDropdownOfSingleBlog::after {
    border-top: .38em solid !important;
    border-right: .38em solid transparent !important;
    border-left: .38em solid transparent !important;
}

.editBlogBtn {
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.editBlogBtn svg {
    color: var(--green-color) !important;
    font-size: 24.5px;
}

.editBlogBtn:hover svg {
    color: var(--green-hover-color) !important;
}

.deleteBlogBtn {
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.deleteBlogBtn svg {
    color: var(--red-color) !important;
    font-size: 24.5px;
}

.deleteBlogBtn:hover svg {
    color: var(--red-hover-color) !important;
}

.blogContent {
    margin-top: 42px;
}

.blogAuthorContainer {
    font-size: 19px;
    letter-spacing: 0.5px;
    font-family: 'poppins-semiBold';
    margin-bottom: 12px;
}

.blogStoryContainer {
    display: flex;
}

.emptySpanAtBlogStart {
    display: inline-block;
    width: 25px;
}

.blogStory {
    text-align: justify;
    color: #818589;
    font-size: 17px;
    letter-spacing: 0.5px;
    margin-bottom: 0px;
}

.blogStory::first-letter {
    font-size: 32px;
    font-weight: bolder;
}

.blogCommentsContainer {
    margin-top: 62px;
}

.signedInUserContainer {
    display: flex;
    align-items: center;
}

.signedInUserContainer> :nth-child(1) {
    margin-bottom: 0px;
    margin-right: 8px;
}

.signedInUserContainer> :nth-child(3) {
    color: var(--secondary-color);
    cursor: pointer;
    margin-bottom: 0px;
    margin-left: 5px;
}

.signedInUserImage {
    width: 32px;
    height: 32px;
}

.addCommentContainer {
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    padding: 5px 15px 15px;
    margin: 24px 0px;
}

.commentTextArea {
    outline: 1px solid #ccc !important;
    border: none !important;
    padding: 10px !important;
    border-radius: 4px;
    font-size: 15px;
    background-color: #f5f5f5;
}

.charRemAndSubmitBtnContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.charRemAndSubmitBtnContainer>p {
    margin-bottom: 0px;
    color: #818589;
    font-size: 14px;
}

.submitCommentBtn {
    width: 90px;
}

.commentsCount {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 40px 0px 36px;
}

.commentsCount>p {
    margin-bottom: 0px;
}

.commentsCount> :nth-child(2) {
    padding: 4px 12px;
    border: 1px solid #818589;
    border-radius: 4px;
    text-align: center;
}

.commentsContainer hr {
    margin: 0px;
}


/* media queries */
@media screen and (max-width: 992px) {
    .blogTitle {
        width: 100%;
    }

    .blogTitle>h2 {
        font-size: 32px;
    }

    .blogTitle>p {
        font-size: 15px;
    }

    .editAndDeleteBtnDropdown {
        display: block;
    }

    .editAndDeleteBtnContainer {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .blogTitleForLoggedInUser {
        margin-right: 30px;
    }
}

@media screen and (max-width: 400px) {
    .singleBlogContainer {
        margin-bottom: 90px;
    }

    .blogImageContainer {
        height: 350px;
    }

    .blogTitle>h2 {
        font-size: 30px;
    }

    .blogAuthorContainer {
        font-size: 18px;
    }

    .blogStory {
        font-size: 16px;
    }

    .commentTextArea {
        font-size: 14.5px;
    }

    .charRemAndSubmitBtnContainer>p {
        font-size: 12.5px;
    }

    .submitCommentBtn {
        width: 85px;
        padding: 6px 0px;
    }
}