.blogCardContainer {
    text-align: center;
    cursor: pointer;
    padding: 15px 15px 25px;
    max-height: 480px;
    height: 100%;
}

.blogCardText {
    margin-bottom: 10px;
}

.blogCardTitle {
    margin-bottom: 15px;
}

.blogCardImg {
    height: 180px;
    border-radius: 0px;
    object-fit: cover;
}