.footerContainer {
    width: 100%;
    position: static;
    bottom: 0px;
    background-color: var(--footer-color);
}

.footerContentContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 75px 40px;
}

.colOfFooterContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.colOfFooterContent h6 {
    margin-bottom: 14px;
}

.colOfFooterContent p {
    font-size: 15px;
    margin-bottom: 0px;
}

.colOfFooterContent p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.copyrightContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px 18px;
    background-color: var(--footer-dark-color);
}

.copyrightContainer p {
    margin: 0px 0px 0px 16px;
    text-align: center;
}

.socialLinks {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-right: 1.5rem;
}

.socialLinks svg {
    font-size: 24px;
}


/* media queries */
@media screen and (min-width: 992px) {
    .footerHeading {
        margin-left: 15px;
    }
}

@media screen and (max-width: 992px) {
    .footerContentContainer {
        text-align: center;
        gap: 30px;
    }

    .footerContentContainer>div {
        width: 100%;
    }

    .copyrightContainer {
        flex-direction: column;
        justify-content: center;
        gap: 16px;
    }

    .copyrightContainer>p {
        margin-left: 0px;
    }

    .socialLinks {
        margin-right: 0px;
    }
}

@media screen and (max-width: 576px) {
    .footerContentContainer {
        padding-top: 65px;
        padding-bottom: 65px;
    }

    .nestedRowOfFooter {
        gap: 30px;
    }

    .colOfFooterContent h6 {
        margin-bottom: 8px;
    }

    .footerHeading {
        font-size: 34px;
    }

    .copyrightContainer>p {
        font-size: 15px;
    }
}