.containerDivOfTextArea {
    width: 100%;
    margin: 12px 0px;
}

.textareaComponent {
    width: 100%;
    height: 180px;
    resize: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #757171;
    padding: 8px 0px;
}

.textareaComponent:hover {
    border-bottom: 2px solid var(--black-color);
}