.singleComment {
    display: flex;
    align-items: start;
    gap: 15px;
    margin: 25px 0px 20px;
}

.singleCommentWithoutEditAndDelete {
    margin-bottom: 25px;
}

.commentContent {
    width: 100%;
}

.commentHeader {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 10px;
}

.commenterName {
    color: var(--secondary-color);
    cursor: pointer;
    margin-bottom: 0px;
}

.commentingDateAndTime {
    margin-bottom: 0px;
    color: #818589;
    font-size: 14px;
}

.commentText {
    margin-bottom: 0px;
    color: #4f4e4e;
}

.inputComponentForUpdatedComment {
    padding: 0px;
    font-size: 15.6px;
}

.commentBtnsContainer {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-top: 4px;
}

.commentBtnsContainer button {
    background-color: transparent;
    font-size: 15px;
    color: #818589;
    box-shadow: none;
    border: none;
    outline: none;
}

.commentBtnsContainer button:hover {
    background-color: transparent;
}