.uploadImageContainer {
    width: auto;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0px 0px 6px var(--black-color);
    position: relative;
}

.disabledUploadImageContainer {
    pointer-events: none;
}

.uploadImageContainer>input {
    display: none;
}

.uploadImgOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.82) !important;
    font-size: 18px;
    border-radius: 50% !important;
}

.uploadImgOverlay:hover {
    background-color: rgba(0, 0, 0, 0.82);
    color: #dfdfdf;
}

.uploadImgOverlay:hover .uploadImgIcon {
    color: #dfdfdf;
}

.editOrDeleteImgOverlay {
    display: none;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.82);
    font-size: 18px;
    color: var(--white-color);
    border-radius: 50%;
    border: none;
}

.uploadImageContainer:hover .editOrDeleteImgOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.editOrDeleteImgOverlay button {
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 0px;
}

.editOrDeleteImgOverlay button:hover {
    background-color: transparent;
}

.editOrDeleteImgOverlay svg {
    color: var(--white-color);
}

.editOrDeleteImgOverlay svg:hover {
    color: #dfdfdf;
}

.editOrDeleteImgOverlay svg {
    font-size: 30px;
}

.uploadImgIcon {
    font-size: 24px;
    margin-bottom: 5px;
    color: var(--white-color);
}

.uploadImageLoader {
    width: 100%;
    height: 100%;
}

.previewImage {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.userPreviewImage {
    width: 220px;
    height: 220px;
    object-fit: cover;
}


/* media queries */
@media screen and (max-width: 992px) {
    .uploadImageContainer {
        width: 250px;
        height: 250px;
    }

    .uploadImgOverlay,
    .editOrDeleteImgOverlay {
        width: 250px;
        height: 250px;
    }
}