.uploadImageContainer {
    width: 70%;
    height: 80%;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0px 0px 6px var(--black-color);
    position: relative;
}

.uploadImageContainer>input {
    display: none;
}

.uploadImgOverlay {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.82);
    font-size: 19px;
    color: var(--white-color);
    border-radius: 50%;
}

.uploadImageContainer:hover .uploadImgOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.defaultImgOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.82);
    font-size: 19px;
    color: var(--white-color);
    border-radius: 50%;
}

.uploadImgIcon {
    font-size: 24px;
}

.uploadImageContainer>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}