.contactImg2 {
    width: 90%;
    height: 90%;
    margin: auto;
    display: flex;
    object-fit: contain;
    mix-blend-mode: multiply;
}

.contactFormSection {
    margin: 80px auto 60px;
}

.contactForm h2 {
    letter-spacing: 1px;
    margin-bottom: 18px;
}

.contactFormBtn {
    width: 100px !important;
    height: 42px;
    margin-top: 14px;
    outline: none;
}

.contactFormBtn:hover {
    background-color: var(--secondary-hover-color);
}