.contactFormSection {
    margin: 80px auto 65px;
}

.contactImg2 {
    width: 90%;
    height: 90%;
    margin: auto;
    display: flex;
    object-fit: contain;
    mix-blend-mode: multiply;
}

.contactForm h2 {
    letter-spacing: 1px;
    margin-bottom: 22px;
}

.rowOfContactPageContent {
    align-items: center;
}

.contactFormBtn {
    width: 100px !important;
    height: 42px;
    margin-top: 12px;
    outline: none;
}

.contactFormBtn:hover {
    background-color: var(--secondary-hover-color);
}


/* media queries */
@media screen and (max-width: 992px) {
    .contactFormSection {
        margin: 65px auto 75px;
    }

    .contactImg2 {
        width: 100%;
        height: 100%;
    }

    .textAreaOfContactPage {
        height: 165px;
    }
}

@media screen and (max-width: 768px) {
    .rowOfContactPageContent {
        gap: 28px;
    }

    .contactForm h2 {
        text-align: center;
    }

    .contactImg2 {
        width: 88%;
        height: 88%;
    }
}