.loaderContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainLoader {
    width: 60px;
    height: 60px;
    border-width: 6px;
}